* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profile-page {
  min-height: 100vh;
  background: #f4f6f9;
  padding: 40px;
}

.profile-page h1 {
  text-align: center;
  color: #3700ff;
  margin-bottom: 30px;
}

.profile-form {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.profile-form input {
  width: 350px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.profile-form button {
  padding: 12px 20px;
  background: #3700ff;
  color: rgb(255, 0, 0);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.profile-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-card {
  width: 500px;
  background: rgb(0, 255, 123);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-card h3 {
  color: #520a0a;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.edit-btn {
  background: #00ff3c;
  color: rgb(255, 0, 0);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn {
  background: #dc3545;
  color: rgb(166, 255, 0);
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.edit-btn:hover,
.delete-btn:hover,
.profile-form button:hover {
  opacity: 0.9;
}